@import "~@blueprintjs/core/lib/scss/variables";

// Fixes dark mode
.dark-wrapper {
  background-color: $pt-dark-app-background-color;

  &.#{$ns}-dark {
    background-color: $pt-dark-app-background-color;
  }
}

@font-face {
  font-family: "Blender Pro";
  src: url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot");
  src: url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.svg#Blender Pro") format("svg");
}

@font-face {
  font-family: "Blender Pro Bold";
  src: url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.eot");
  src: url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a082fd3df68a0b54e0d4d794bc38d268.svg#Blender Pro") format("svg");
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Blender Pro, -apple-system, sans-serif;
}

h3 {
  font-size: 19px;
}

.box {
  @apply
  bg-indigo-700
  text-gray-100
  min-w-full
  h-32
  min-h-full
  rounded;
}

.bp4-overlay-content  {
  @apply
  top-1/2
  left-1/2
  -translate-x-2/4
  -translate-y-2/4
}
